.formhero {
    width: 100%;
    max-width: 1920px;
    height: 700px;
    border-radius: 0;
    background-position: center;

    color: rgba(46, 34, 54, 0.7);

    background-image: linear-gradient(
            rgba(46, 34, 54, 0.95),
            rgba(46, 34, 54, 0.95)
        ),
        url(alex-kotliarskyi-361081-unsplash.jpg);

    &-section {
        margin-left: 5px;
    }

    &-textbox {
        color: white;
        & h6 {
            font-weight: 600;
        }
    }

    &-calltoaction {
        text-align: center;
        margin-bottom: 5px;
        color: white;

        &-city {
            margin-top: 65px;
            color: $main-color;
        }

        &-function {
            font-size: 46px;
            margin-bottom: 46px;
        }

        &-action {
            margin-bottom: 42px;
            text-transform: uppercase;
            font-weight: 600;
            width: 176px;
            height: 40px;
            padding-top: 8px;
        }
    }
}

.vagaform {
    & div.custom-file label:after {
        content: none;
    }

    &-navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
        text-transform: uppercase;

        & .nav-link {
            color: white;
            font-weight: 600;
            margin: 0 5px;
        }

        & .nav-link.btn-green {
            color: black;
            width: 176px;
            height: 40px;
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        height: 150px;
        background-color: #f6f6f7;
        margin-top: 100px;
        padding-bottom: 20px;

        &-textbox {
            margin-top: 44px;
            text-align: center;

            & .vagaform-footer-url {
                color: $main-color;
                font-weight: 600;
            }
        }
    }
}

.field-error {
    font-size: 0.6rem;
    color: red;
    font-weight: 600;
}
